# Gradle files
.gradle
/build
.cxx

# Intellij
*.iml
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Local Configuration file
/local.properties
local.properties

# OSX
.DS_Store

# Android Studio Captures
/captures

# External native build
.externalNativeBuild