<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.starwars">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_star_wars_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_star_wars_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarWars"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.starwars.screens.home.HomeActivity"
            android:theme="@style/Theme.StarWars.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.starwars.screens.film.FilmDetailsActivity"
            android:theme="@style/Theme.StarWars.NoActionBar"/>
        <activity android:name="com.example.starwars.screens.film.FilmsActivity"/>

        <activity android:name="feature.characters.presentation.CharactersActivity"
            android:theme="@style/Theme.StarWars.NoActionBar">
        </activity>

        <activity android:name="feature.characters.presentation.steps.CharactersDetailsActivity"
            android:theme="@style/Theme.StarWars.NoActionBar"/>

        <activity android:name="com.example.starwars.screens.planet.PlanetsActivity"
            android:theme="@style/Theme.StarWars.NoActionBar"/>

        <activity android:name="com.example.starwars.screens.planet.PlanetsDetailsActivity"
            android:theme="@style/Theme.StarWars.NoActionBar"/>
    </application>

</manifest>